<h1>Bienvenido a ComentaErrores</h1>
<h2>Realizada por: <%= @creador %></h2>
<p>Esta es mi primera vista</p>
<!-- 

.times es como un each 
por lo que imprime la cantidad que se le indica

cuestiones de lógica que el usuario vea con un =
<% @limite.times do %>
<p><%= @mensaje %></p>
<% end %>

 -->
<footer>
	<p>By:<%= @creador %></p>	
</footer>



